<section class="carousel carousel-fade slide home-slider" id="c-slide" data-ride="carousel" data-interval="4500" data-pause="false">
    <ol class="carousel-indicators hidden">
        <li data-target="#c-slide" data-slide-to="0" class="active"></li>
        <li data-target="#c-slide" data-slide-to="1" class=""></li>
        <li data-target="#c-slide" data-slide-to="2" class=""></li>
        <li data-target="#c-slide" data-slide-to="3" class=""></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active" style="background: url(/_assets/img2/slider/38.jpg); ">
            <div class="container">

            </div>
        </div>
        
        <div class="item" style="background: url(/_assets/img2/slider/35.jpg); background-position: bottom center; ">
            <div class="container">

            </div>
        </div>
        <div class="item" style="background: url(/_assets/img2/slider/52.jpg); ">
            <div class="container">

            </div>
        </div>
        <div class="item" style="background: url(/_assets/img2/slider/56.jpg); ">
            <div class="container">

            </div>
        </div>
        <div class="item" style="background: url(/_assets/img2/slider/57.jpg); ">
            <div class="container">

            </div>
        </div>
        <div class="item" style="background: url(/_assets/img2/slider/58.jpg); ">
            <div class="container">

            </div>
        </div>
    </div>
    <!-- /.carousel-inner -->
    <a class="left carousel-control animated fadeInLeft" href="#c-slide" data-slide="prev"><i class="icon-angle-left"></i></a>
    <a class="right carousel-control animated fadeInRight" href="#c-slide" data-slide="next"><i class="icon-angle-right"></i></a>
</section>